<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/cdd74577f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/style/style.css">
<title>About Us</title>
</head> 
<body>
{{>header}}
<hr>

<div class="about"><h2>About Me</h2></div>

  <div class="more-stuff-grid">
<img src="/images/Kevin Harper -2.jpg" alt="Contact" style=" height: 500px; width: 349.11px; " class="from-left"  data-aos="fade-left">
<div  class="from-right"  data-aos="fade-right" data-aos-offset="150">
  <h3>Photography is my passion</h3>
<p>I have a passion for documenting my life with stores that accompany them. I love the fact that pictures capture the sweetest moments and sometimes bitter ones too. Well, but that’s life. Pictures can manifest emotions that words cannot. Photographs allow me to express emotions that I might not be able to express verbally.My subject of choice is people. This comes from my true love and appreciation for the human experience of emotion and life. I really enjoy getting candid photos that personify pure feeling, enhanced by use of light and composition. I want my subject to feel beautiful and comfortable during the process of being photographed, so they can show me who they really are. I want the subject to see the results and feel like they are being represented well. Only recently have I began to work more with landscapes. I love finding beauty in everyday spots that may be passed by without a second glance. Through landscapes I have learned that I would really love to travel and see more interesting parts of the world. Thanks to landscape photos, one photographer can take thousands of people to the featured spot and everyone can interpret it differently.</p>
</div>
</div>

  <div class="services">

    <h2 >Services</h2>

    <div class="column" data-aos="fade-in"data-aos-offset="250" style="border-right:3px solid; max-height: 200px;">
      <h3>Wild life</h3>
      <p>
        Wildlife photography is a genre of photography concerned with documenting various forms of wildlife in their natural habitat. As well as requiring photography skills, wildlife photographers may need field craft skills
        
      </p>
    </div>
    
      <div class="column" data-aos="fade-in" data-aos-offset="250" style="border-right:3px solid;max-height: 190px;">
        <h3>Astrophotography</h3>
        <p>
          Every sunset gives me a hope to live.
It reminds me,
You have capture more with your heart.
It reminds me
you are not alone,
surrounded by a beautiful world,
always there for you.
        </p>
        <div class="vl"></div>
      </div>
         <div class="column" data-aos="fade-in" data-aos-offset="250" >
          <h3>Abstract </h3>
          <p>
            It's about taking your photographs beyond the norm to create unique pieces of art. ... A search for “experimental photography” or “experimental portraiture” online will blow your mind with beautiful and disturbing images.
          </p>
</div>
</div>
<p style="font-family: 'Ubuntu', sans-serif;
font-weight: 400;
font-size: 30px;margin-left: 300px;margin-top: -70px;" data-aos="slide-in"data-aos-offset="75"> “You don't need beautiful weather to enjoy the evening"</p>
<h2 class="select_h2">Selected Clients</h2>
<div class="select">

<div data-aos="fade-up" data-aos-offset="150" >
<p>2016</p>
<h3>Abstract<span style="float:right;">
  Outdoor Photographer
</span></h3> 
</div>
<hr>
<div data-aos="fade-up" data-aos-offset="150">
  <p>2016</p>
  <h3>Wild Life<span style="float:right;">
    BBC Wildlife
  </span></h3> 
  </div>
<hr>

<div data-aos="fade-up" data-aos-offset="150">
  <p>2017</p>
  <h3>Wild Life<span style="float:right;">
    Sanctuary Asia
  </span></h3> 
  </div>
<hr>
<div data-aos="fade-up" data-aos-offset="150">
  <p>2018</p>
  <h3>Magazine portraits<span style="float:right;">
    Belka Cosmetics
  </span></h3> 
  </div>
<hr>
  <div data-aos="fade-up" data-aos-offset="150">
    <p>2019</p>
    <h3>Astrophotography<span style="float:right;">
      Astronomy
    </span></h3> 
    </div>

</div>
<div class="end">
<h1 data-aos="fade-up" data-aos-offset="90">  Let's take some amazing photos together</h1>
<a href="contact"><button data-aos="fade-up" data-aos-offset="40" >Get In Touch </button>
</div></a>

<div class="social"style="top:2150px">
    <i class="fab fa-facebook fa-lg "></i>
    <i class="fab fa-instagram fa-lg" ></i>
    <i class="fab fa-twitter fa-lg" ></i>
</div>
<script src="/style/script.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init(
    {
      offset: 360,
      duration: 300
    }
  );
</script>

</body>
</html>
