<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/cdd74577f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../style/style.css">
<title>Experimental</title>
</head> 
<body>
    {{>header}}

<h1 style="font-size: 50px; font-family:'Ubuntu', sans-serif;">Abstract </h1>
<div style="background-color: aqua;">
<img src="/images/2-1.jpg" alt=" image 1" style="height: 625px;  width:339px; position: absolute;top:239px; left: 18px;">
<img src="/images/2-2.jpg" alt=" image 2" style="height: 526px; width: 318px; position: absolute;top:239px ; left: 363px;">
<img src="/images/2-3.jpg" alt=" image 3" style="height: 572px; width:331px;position: absolute;top: 239px;left: 687px;">
<img src="/images/2-4.jpg" alt=" image 4" style="height:577px; width:331px; position: absolute;top:239px;left: 1024px;">
<img src="/images/2-7.jpg" alt=" image 5" style="height: 294px; width:661px; position: absolute; top: 823px; left: 687px;">
<img src="/images/2-6.jpg" alt=" image 6" style="height: 346px; width: 318px;; position: absolute; top: 771px; left: 363px;">
<img src="/images/2-5.jpg" alt=" image 7" style="height:507px; width:339px; position: absolute; top:872px ; left: 18px;">
<img src="/images/2-8.jpg" alt=" image 8" style="height: 256px; width:480px; position: absolute; top: 1123px; left:363px ;">
<img src="/images/2-9.jpg" alt=" image 9" style="height:256px; width:499px; position: absolute; top: 1123px; left:849px ;">
</div>
  <div class="social" style="top: 1450px;">
    <a href="https://www.facebook.com/"> <i class="fab fa-facebook fa-lg "></i></a>
    <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram fa-lg" ></i></a>
    <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter fa-lg" ></i></a>
</div>
</body>
</html>
