<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/cdd74577f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/style/style.css">
<title>Gallery</title>
</head> 
<body>

{{>header}}
<h1 style="font-size: 50px; font-family:'Ubuntu', sans-serif;">Gallery</h1>

<div class="more-stuff-grid" >
  <a href="wild_life" style="text-decoration: none;"> <h1 class="from-left-gallery"data-aos="fade-left" data-aos-offset="50" data-aos-delay="250" style="font-size: 75px; font-family:'Ubuntu', sans-serif; text-decoration: none
  ; color: #000; ">Wild life</h1></a>
    <img src="/images/5-3.jpg" alt=" deer" class="from-right"  data-aos="fade-right" data-aos-offset="50"style="height: 500px; width:349.11px;">
</div>
<div class="more-stuff-grid" style="background-color: white; margin: -10px -10px; ">
    
    <img src="/images/3-1.jpg" alt="night sky" class="from-left-gallery" data-aos="fade-left" data-aos-offset="175"style="height: 500px; width:349.11px; margin-left:30px">
    <a href="astrophotography" style="text-decoration: none;"> <h1 class="from-right-gallery" data-aos="fade-right" data-aos-offset="100" style="font-size: 75px; font-family:'Ubuntu', sans-serif; text-decoration: none; color: #000;">
        Astrophotography
    </h1></a>
</div>
<div class="more-stuff-grid">
  <a href="experimental" style="text-decoration: none;"><h1 class="from-left-gallery" data-aos="fade-left" data-aos-offset="10" style="font-size: 75px; font-family:'Ubuntu', sans-serif;color: #000; text-decoration: none;">
    Abstract
    </h1></a>
    <img src="/images/2-2.jpg" alt=" " class="from-right" data-aos="fade-right" data-aos-offset="100" style="height: 500px; width:349.11px;">
</div>


  <div class="social" style="top: 2100px;">
    <a href="https://www.facebook.com/" style="color: black;"> <i class="fab fa-facebook fa-lg "></i></a>
    <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram fa-lg" ></i></a>
    <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter fa-lg" ></i></a>
</div>
<script src="/style/script.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init(
    {
      duration: 300
    }
  );
</script>

</body>
</html>
