<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/cdd74577f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./style/style.css">
<title>Wild Life</title>
</head> 
<body>
{{>header}}
  <h1 style="font-size: 50px; font-family:'Ubuntu', sans-serif;">Wild life</h1>
  <img src="/images/5-1.jpg" alt=" image 1" style="height: 323px; width: 339px; position: absolute; top:239px; left: 18px;">
  <img src="/images/5-2.jpg" alt=" image 2" style="height: 196px; width: 339px;position: absolute; top:569px ;left: 18px;">
  <img src="/images/5-3.jpg" alt=" image 3" style="height: 577px; width: 318px;position: absolute; top: 239px ; left: 363px;">
  <img src="/images/1-4.jpg" alt=" image 4" style="height: 212px; width: 367px;position: absolute; top: 239px ; left: 687px;">
  <img src="/images/5-5.jpg" alt=" image 5" style="height: 212px; width: 288px;position: absolute; top: 239px; left: 1060px;">
  <img src="/images/5-6.jpg" alt=" image 6" style="height: 356px; width: 661px;position: absolute;top: 460px;left: 687px;">
  <img src="/images/5-7.jpg" alt=" image 7" style="height: 608px; width: 339px;position: absolute; top: 771px ; left: 18px;">
  <img src="/images/5-8.jpg" alt=" image 8" style="height: 554px; width: 654px;position: absolute; top: 825px;left: 364px ;">
  <img src="/images/5-9.jpg" alt=" image 9" style="height: 554px; width: 318px;position: absolute; top: 825px;left: 1030px ;">
  
  <div class="social" style="top: 1450px;">
    <a href="https://www.facebook.com/"> <i class="fab fa-facebook fa-lg "></i></a>
    <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram fa-lg" ></i></a>
    <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter fa-lg" ></i></a>
</div>

</body>
</html>
