<!DOCTYPE html>
<html>
<head>
    <scrip src="https://kit.fontawesome.com/cdd74577f6.js" crossorigin="anonymous"></scrip>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<link rel="stylesheet" href="../style/style.css">
</head>
<body>
  <div class="div1" id="myHeader1">  
    <a href="/"><h1>KEVIN HARPER</h1></a>
    <div id="myNav" >
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div>
          <a href="gallery">Gallery</a>
          <a href="about_us">About Me</a>
          <a href="contact">Contact</a>
        </div>
      </div>
      <span style ="font-size:30px;cursor:pointer; position:fixed; top:5%;right: 20px; color:rgb(255, 255, 255);" onclick="openNav()" id="icon">&#9776;</span>
    </div>
  <script src="/style/script.js"></script>
</body>
</html>
